#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: inherit;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

h1 {
  border-bottom: none !important;
}

main {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  padding: 10px 20px;
}

.alert {
  margin-bottom: 23px;
  background: #d7faff;
  padding: 10px 15px;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
