#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: inherit;
}

a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

.App-header {
  max-width: 1250px;
  display: flex;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: left;
}

.header-wrapper {
  width: 100%;
  border-bottom: 2px solid #26374a;
  margin-bottom: 25px;
}

h1 {
  border-bottom: none !important;
}

main {
  max-width: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  padding: 10px 20px;
}

.alert {
  margin-bottom: 23px;
  background: #d7faff;
  padding: 10px 15px;
}
