#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: inherit;
}

a {
  color: blue;
  /* Normal and visited link color */
  text-decoration: underline;
  /* Underline for all links */
}

a:hover {
  color: blue;
  /* Color when hovering over links */
  text-decoration: underline;
  /* Underline on hover */
}

.App-header {
  max-width: 1250px;
  display: flex;
  margin: 10px auto;
  padding: 10px 20px;
  text-align: left;
}

.header-wrapper {
  width: 100%;
  border-bottom: 2px solid #26374a;
  margin-bottom: 25px;
}

h1 {
  border-bottom: none !important;
}

main {
  max-width: 1250px;
  display: flex;
  flex-direction: column; /* Stacks items vertically */
  justify-content: center;
  margin: 0 auto;
  text-align: left;
  padding: 10px 20px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}



.alert {
  padding:  10px 15px;
  margin-bottom: 23px;
  border: 1px solid transparent;
  border-radius: 0;
  border-style: solid;
  border-width: 0 0 0 4px;
  background: #d7faff;
}



